.bigContainer {
    height: 100vh;
    width: 100vw;
    user-select: none;
}

h1, h3 {
    margin-top: 10px;
    margin-bottom: 0;
}


.title {
    font-family: 'Lobster Two', cursive;
    font-size: 25px;
    display: inline-block;
    position: relative;
    margin-bottom: 15px;
}

.title::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
}

.title:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

body, input {
    font-family: 'Nunito', sans-serif;
    background-color: #81BFDA;
    text-align: center;
    font-size: 17px;
}

.authentication {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.authentication input{
    flex: 1;
    outline: none;
    font-size: 16px;
    text-align: left;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 8px;
    overflow: hidden;
    margin: 1rem;
}

.formInputs {
    display: flex;
    flex-direction: column;
}

.authentication button {
    background-color: #81BFDA;
    border: 1px solid #FADA7A;
    border-radius: 8px;
    box-shadow: rgba(46, 47, 47, 0.5) 0 2px 5px 0;
    box-sizing: border-box;
    color: grey;
    cursor: pointer;
    padding: 0 8px 0 9px;
    position: relative;
    text-decoration: none;
    touch-action: manipulation;
    width: 80px;
    font-size: 17px;
    line-height: 30px;
}

.formButtons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

.hostJoinGame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hostJoinButtons {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.colorfulButtons {
    background-color: #81BFDA;
    border: 1px solid #FADA7A;
    border-radius: 8px;
    box-shadow: rgba(46, 47, 47, 0.5) 0 2px 5px 0;
    box-sizing: border-box;
    color: grey;
    cursor: pointer;
    padding: 0 12px 0 13px;
    position: relative;
    text-decoration: none;
    touch-action: manipulation;
    width: 130px;
    font-size: 17px;
    line-height: 30px;
}

.colorfulButtons:hover {
    /*background-color: #f7fafa;*/
}

.colorfulButtons:focus {
    border-color: #008296;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
}

.enterRoomContainer {
    display: flex;
    flex-direction: row;
    gap: 0;
    margin-top: 30px;
    height: 35px;
}

.enterRoomContainer input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    text-align: left;
    padding: 10px;
}

.enterRoomContainer, .enterRoomContainer input {
    border: 1px solid grey;
    border-radius: 8px;
    overflow: hidden;
}

.enterRoomContainer img {
    width: 30px;
    height: 30px;
    background-color: #81BFDA;
    border-left: 1px solid grey;
    padding: 3px;
    cursor: pointer;
}